.content:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.content {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}
.content {
  display: block;
}

/* close commented backslash hack */

* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #7a0606;
  font-size: 30px;
}
p {
  margin: 0;
}
li {
  margin-bottom: 5px;
}
.header {
  min-width: 800px;
  border: 3px solid #13306a;
  border-radius: 10px;
  margin: auto;
  max-width: 80%;
  height: 200px;
  background-color: #445568;
  margin-bottom: 5px;
  margin-top: 3px;
  padding: 5px;
}
.header .logo1 {
  width: auto;
  height: auto;
  float: left;
}
.header .text {
  margin-top: 35px;
  width: auto;
  height: auto;
  float: left;
  font-style: normal;
  font-weight: 700;
}
.main_name {
  padding: 0px;
  margin-top: 0px;
  font-size: 40px;
  margin-bottom: 10px;
}
.description {
  color: #7a0606;
  font-size: 35px;
}
nav {
  margin: auto;
  background-color: #6592c5;
  border-radius: 10px;
  border: 3px solid #13306a;
  margin-bottom: 5px;
  padding: 5px;
  max-width: 80%;
  min-width: 800px;
  height: 80px;

  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.menurefs {
  font-size: 33px;
  padding: 0 5px;
  margin: 0 15px;
  display: block;
  color: #040b1a;
  border: 2px solid black;
  text-decoration: none;
  width: auto;
  text-align: center;
  font-style: normal;
}
.menurefs:hover {
  font-size: 35px;
  color: #040b1a;
  border: 3px solid #040b1a;
  cursor: pointer;
  background-color: #9b0a0a;
}

.content {
  margin: auto;
  margin-bottom: 5px;
  max-width: 80%;
  min-width: 800px;
}
aside {
  width: 15%;
  height: auto;
  float: right;
  min-width: 120px;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: center;
}
section {
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  float: left;
  width: 84%;
  height: auto;
}
section h3 {
  margin: 0px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 33px;
  font-family: "Courier New", Courier, monospace;
  color: #040b1a;
}
/*.sidebar_interview {
  padding: 5px;
  width: 100%;
  height: auto;
  background-color: #6592c5;
  border-radius: 10px;
  border: 3px solid #13306a;
  margin-bottom: 5px;
}*/
.ad {
  padding: 5px;
  width: 100%;
  height: 170px;
  background-color: #6592c5;
  border-radius: 10px;
  border: 3px solid #13306a;
  margin-bottom: 5px;
} /*
.sidebars {
  padding: 5px;
  width: 100%;
  height: 500px;
  margin-bottom: 5px;
  background-color: #6592c5;
  border-radius: 10px;
  border: 3px solid #13306a;
}*/
.sidebars {
  padding: 5px 15px;
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  background-color: #6592c5;
  border-radius: 10px;
  border: 3px solid #13306a;
}
.sidebars .text {
  color: #040b1a;
  padding: 8px 20px;
  font-size: 28px;
  font-family: "Raleway", sans-serif;
  word-spacing: normal;
}
.sidebars .games {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  visibility: visible;
}
.games .game {
  border: 2px solid #13306a;
  border-radius: 10px;
  text-align: center;
  justify-content: flex-start;
  height: auto;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  flex-basis: 180px;
  align-items: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
  background-color: #445568;
  text-decoration: none;
  color: #040b1a;
}
.games .game:hover {
  flex-basis: 190px;
  background-color: #4c5f75;
  cursor: pointer;
}
.games .game:visited {
  color: #040b1a;
}
.games .game .game-img {
  width: 150px;
  height: auto;
}
.game-page {
  visibility: hidden;
  display: none;
}

.footer {
  padding: 5px;
  border: 3px solid #13306a;
  margin: auto;
  border-radius: 10px;
  max-width: 80%;
  height: auto;
  background-color: #445568;
  min-width: 800px;
  text-align: center;
}
.pageup {
  display: block;
  bottom: 5%;
  right: 2%;
  position: fixed;
  background: none;
  border: none;
}
.upimg {
  opacity: 0.5;
  width: 50px;
  height: 50px;
}
.upimg:hover {
  opacity: 1;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.interview_submit {
  color: #040b1a;
  font-size: 18px;
  text-align: center;
  margin: 0px auto;
  border: 3px solid #13306a;
  background-color: #6592c5;
  width: auto;
  display: block;
}
.interview_submit:hover {
  border: 4px solid #13306a;
  background-color: #445568;
}
